import Container from '../Container'

export default function <%= props.name %>Section({ id }: { id: string }) {
  return (
    <section id={id}>
      <Container>
        {/* Content */}
      </Container>
    </section>
  )
}